In [2]:
import numpy as np
import pandas as pd

In [3]:
data = {
    "Name": ["Alok", "Ravi", "Amit"],
    "Age": [23, 25, 22],
    "Marks": [85, 90, 88]
}
df = pd.DataFrame(data)
print(df)

   Name  Age  Marks
0  Alok   23     85
1  Ravi   25     90
2  Amit   22     88

In [4]:
print(df.head(2))   # First 2 rows
print(df.tail(1))   # Last 1 row

   Name  Age  Marks
0  Alok   23     85
1  Ravi   25     90
   Name  Age  Marks
2  Amit   22     88

In [5]:
print(df.describe())

             Age      Marks
count   3.000000   3.000000
mean   23.333333  87.666667
std     1.527525   2.516611
min    22.000000  85.000000
25%    22.500000  86.500000
50%    23.000000  88.000000
75%    24.000000  89.000000
max    25.000000  90.000000

In [6]:
print(df.index)

RangeIndex(start=0, stop=3, step=1)

In [7]:
df

   Name  Age  Marks
0  Alok   23     85
1  Ravi   25     90
2  Amit   22     88

In [8]:
print(df.loc[0, "Name"])   # By label → Alok
print(df.iloc[1, 2])       # By index → 90
print(df.loc[:, ["Name","Marks"]])  # All rows, specific cols
print(df.iloc[0:2, 0:2])

Alok
90
   Name  Marks
0  Alok     85
1  Ravi     90
2  Amit     88
   Name  Age
0  Alok   23
1  Ravi   25

In [9]:
import numpy as np

data5 = {
    "Name": ["Alok", "Ravi", None],
    "Age": [23, np.nan, 22]
}
df = pd.DataFrame(data5)

In [10]:
df

   Name   Age
0  Alok  23.0
1  Ravi   NaN
2  None  22.0

In [11]:
print(df.isnull())

    Name    Age
0  False  False
1  False   True
2   True  False

In [12]:
print(df.notnull())

    Name    Age
0   True   True
1   True  False
2  False   True

In [13]:
print(df.dropna())

   Name   Age
0  Alok  23.0

In [14]:
print(df.fillna("Unknown"))

      Name      Age
0     Alok     23.0
1     Ravi  Unknown
2  Unknown     22.0

In [15]:
df = pd.DataFrame({"A": [1,1,2,3], "B": [4,4,5,6]})

In [16]:
df

   A  B
0  1  4
1  1  4
2  2  5
3  3  6

In [27]:
print(df.drop_duplicates(subset=["A"],keep="first"))
print(df.drop_duplicates(subset=["A"],keep="last"))

df.drop_duplicates(subset=["A"], keep=False)

   A  B
0  1  4
2  2  5
3  3  6
   A  B
1  1  4
2  2  5
3  3  6

   A  B
2  2  5
3  3  6

In [33]:
s = pd.Series([1,2,2,"nan",3,3])
s

0      1
1      2
2      2
3    nan
4      3
5      3
dtype: object

In [40]:
s.value_counts(dropna=True)

2      2
3      2
1      1
nan    1
Name: count, dtype: int64

In [41]:
import pandas as pd

data = {
    "A": [10, 20, 30],
    "B": [5, 15, 25]
}

df = pd.DataFrame(data)

print("Describe:\n", df.describe())      # summary stats
print("\nMean:\n", df.mean())            # column-wise mean
print("\nCorrelation:\n", df.corr())     # correlation matrix
print("\nCount:\n", df.count())          # non-null count
print("\nMax:\n", df.max())              # max value
print("\nMin:\n", df.min())              # min value
print("\nMedian:\n", df.median())        # median
print("\nStd Dev:\n", df.std())          # standard deviation

Describe:
           A     B
count   3.0   3.0
mean   20.0  15.0
std    10.0  10.0
min    10.0   5.0
25%    15.0  10.0
50%    20.0  15.0
75%    25.0  20.0
max    30.0  25.0

Mean:
 A    20.0
B    15.0
dtype: float64

Correlation:
      A    B
A  1.0  1.0
B  1.0  1.0

Count:
 A    3
B    3
dtype: int64

Max:
 A    30
B    25
dtype: int64

Min:
 A    10
B     5
dtype: int64

Median:
 A    20.0
B    15.0
dtype: float64

Std Dev:
 A    10.0
B    10.0
dtype: float64